/* Add CSS styling here */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

body{
    background: #aafcb8;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
}

.navTop{
    display: flex;
    justify-content: flex-end;
    width: 98%;
}
a{
    margin: 1em 0.5em 0 0.5em;
    color:rgb(14, 43, 29);
    background: #77af9c;
    text-align: center;
    text-decoration: none;
    width: 8em;
    height: 1.1em;
    border: 1px solid lightgray;
}
a:hover{
        background: rgb(230, 117, 76);
    }

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    /* align-content: center; */
    width: 98%;
    margin: 0 1%;
    background: #d7fff1;
    /* border: 1px solid grey;     */
}
header {
    display: flex;
    justify-content: space-between;
    background: url('../img/2people.jpg');
    /* background-repeat: no-repeat; */
    
    height: 15em;
    width: 100%;
    padding: 2em 0 0;
}
header h1{
    font-size: 4em;  
    color:  rgb(230, 117, 76);
    text-shadow: 0.03em 0.03em #0a3039;
}

.main{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
   
}
h2{
    font-size: 2em;  
    color: #285943;
    margin: 2em 0;
}
.invest{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}
.paths{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;

}
.paths div{
    width: 15em;
    height: 15em;
    background: url('../img/grow.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    /* margin: 0.5em; */
    text-align: center;
    color: #bf4e30;
    font-size: 1em;

}

/* 

.mainFoto{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1% 10% 1% 15%;
    background: url('../images/backgr.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    width: 70%;
    text-align: center;
    font-size: 6em;  
    color: orangered;
    text-shadow: indigo 1px 1px 2px;
}
.fotos{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0% 0 11% ;
}
.item{
    display: flex;
    flex-direction:column;
    align-items: center;
}  
.fotos img  {
    width: 50vh;
    height: 50vh;
    margin: 20px;
}
button{
   width:100px;
   background: orangered;
 }
.niz{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin: 7vh;
    background-color: #3CB371;
}
.niz h4{
    font-size: 1em; 
    text-align: center; 
    color: orangered;
    margin: 0.5vh;
}
niz a{
    width:100px;
    background: orangered; 
}
 

@media(max-width: 800px){
    .mainFoto{        
        height: 25vh;
        font-size: 3em;  
    }
    button{
        width:80px;    
    }
    .fotos{
        margin: 0 0% 0 7% ;
    }
    .fotos img  {
        width: 25vh;
        height: 25vh;
        margin: 10px;
    }
    .niz{
        margin: 5vh;
    }
} /* close 800px */


/* @media(max-width: 500px){
    header{
        justify-content:flex-end;
    }
    header h1 {
        display: none;
         } 
    .links a {
        width: 5em;
    }
    .mainFoto{        
        height: 25vh;
        font-size: 2.5em;  
    }
    button{
        width:80px;    
    }
    .fotos{
        flex-direction: column;
        justify-content: center;
    }

} close 500px */ */